@charset "UTF-8";
body {
  background-color: #0A0A0A;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0A0A0A;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F6CD11;
  /* color of the scroll thumb */
  border-radius: 2px;
  /* roundness of the scroll thumb */
}

.navbar {
  border-top: #E1B701 solid 50px;
  border-bottom: #E1B701 solid 5px;
}

.nav-link {
  color: #B7B7B7 !important;
  font-weight: 500;
}

#navbarSupportedContent .myLogo {
  position: absolute;
  left: -23px;
  top: -58px;
}
#navbarSupportedContent .myLogo img {
  width: 160px;
  height: 150px;
  z-index: 50;
  position: absolute;
  top: 5px;
}
#navbarSupportedContent .myLogo p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 60px;
  right: -219px;
  letter-spacing: 5px;
  background-color: #0A0A0A;
  width: 160px;
  height: 70px;
  text-align: center;
  color: #B7B7B7;
}

.main {
  padding: 15px;
  border: 20px solid transparent;
  border-image: url(../img/border.png) round;
  border-image-repeat: stretch;
  border-image-slice: 30;
}
.main h4 {
  color: #F6CD11;
}
.main nav {
  list-style: none;
  border-right: 5px solid #F6CD11;
}
.main nav li {
  padding-left: 1em;
}
.main nav li a {
  color: #B7B7B7;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
.main nav li::before {
  content: "• ";
  color: #F6CD11;
  /* or whatever color you prefer */
}

.form-control {
  background-color: #0A0A0A;
  border: 1px solid #F7BE00;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 30px;
}

.custom-file-label::after {
  position: absolute;
  top: 5px;
  right: 69px;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + .75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: inherit;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
}

.custom-file-label {
  height: 70px;
  line-height: 3.5;
  font-weight: 700;
  background-color: #E1B701;
  border-color: #0A0A0A;
}

.footer {
  background-color: #E1B701;
}

.social {
  margin-top: -25px;
}

.social-icon {
  background-color: #413306;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.social-icon i {
  font-size: 23px;
  position: absolute;
  top: 3px;
  left: 6px;
  color: white;
  border-radius: 50%;
  padding: 10px;
  background-color: #0A0A0A;
}

.footer P {
  font-weight: 700;
  color: #0A0000;
}

.footer::before {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: -25px;
  right: 0px;
}

.navbar-toggler {
  background-color: #F6CD11;
}

.main-uplaod {
  background-color: #E1B701;
  border-radius: 20px;
  color: #0A0000;
}
.main-uplaod p {
  font-size: 10px;
  line-height: 10px;
  font-weight: 600;
  text-align: justify;
}

.custom-file-input:lang(en) ~ .myUpload::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  font-size: 60px;
}

.myUpload::after {
  position: absolute;
  top: 37%;
  right: 47%;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 300px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: white;
  content: "Browse";
  background-color: inherit;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
}

.myUpload {
  height: 260px;
  line-height: 3.5;
  font-weight: 700;
  background-color: #0A0A0A;
  border: 1px solid #F6CD11;
}
.myUpload span {
  position: absolute;
  top: 60%;
  right: 46%;
  z-index: 5;
}

.main-uplad2 {
  border-radius: 35px;
}

.divUpload {
  background-color: #0A0A0A;
  box-shadow: 10px 10px 15px #242424;
}

.media {
  background-color: #0A0A0A;
  color: #B7B7B7;
  border-radius: 20px;
  padding: 20px;
}
.media img {
  width: 100px;
  height: 100px;
}
.media p {
  text-align: left;
  font-weight: 600;
}

.iconUser {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -29px;
  left: 120px;
  border: 1px solid #0A0A0A;
}
.iconUser img {
  width: 120px;
  height: 120px;
}

.dreamTitle {
  color: #E1B701;
  font-size: 1.45rem;
}

.rouls {
  border: 2px solid #F6CD11;
}
.rouls p, .rouls span {
  color: #E1B701;
  text-align: center;
}
.rouls p {
  font-size: 0.85rem;
  font-weight: 500;
}
.rouls span {
  font-size: 0.65rem;
  font-weight: 500;
}

#rouls::after {
  content: "قوانین شرکت در مسابقه";
  padding: 10px;
  color: #F6CD11;
  background-color: #0A0A0A;
  position: absolute;
  left: 20%;
  width: 170px;
  text-align: center;
}

.actors {
  background-color: #F6CD11;
}
.actors img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.running {
  border: 2px solid #F7BE00;
}
.running h5, .running p {
  color: #E1B701;
}
.running p {
  font-size: 1rem;
}

.search {
  border: 1px solid #B7B7B7;
}
.search P {
  font-size: 1.75rem;
  color: #B7B7B7;
  text-align: center;
  font-weight: 500;
}
.search i {
  font-size: 20px;
}

.search-wraper {
  height: 230px;
  border-radius: 20px;
}
.search-wraper img {
  height: 200px;
}

#search-wraper {
  transition: all 0.3s linear;
}

#search-wraper:hover {
  transform: scale(1.1, 1);
}

.search-body {
  background-color: #282828;
  height: 100%;
  border-radius: 20px;
  margin-left: -30px;
}

.search-body-inner {
  border: 1px solid #F6CD11;
  border-radius: 5px;
}
.search-body-inner h2 {
  text-align: center;
  color: #F6CD11;
}
.search-body-inner a, .search-body-inner p {
  text-align: center;
  color: #B7B7B7;
}
.search-body-inner p {
  font-size: 10px;
}

.team {
  background-color: #FEBF00;
}

.team-main {
  border: 1px solid #0A0A0A;
  border-radius: 30px;
}

#team-main::after {
  content: "OUR TEAM MEMBERS";
  font-weight: 700;
  border: 1px solid #0A0A0A;
  padding: 15px 20px;
  border-radius: 30px;
  color: #0A0000;
  width: 30%;
  position: absolute;
  top: 22px;
  right: 36%;
  background-color: #FEBF00;
  text-align: center;
  font-size: 1rem;
}

#team-main::before {
  content: "";
  width: 100%;
  height: calc(100% - 20vh);
  position: absolute;
  top: 400px;
  left: 0;
  background-color: #0A0A0A;
  border-radius: 100px/35px;
  box-shadow: 0px -15px rgba(41, 41, 41, 0.4);
  z-index: 0;
}

.elon {
  z-index: 10;
  border-radius: 30px;
  border: 1px solid #0A0A0A;
  background-color: #FEBF00;
}
.elon .elon-content {
  border: 1px solid #0A0A0A;
  border-radius: 20px;
  margin: 20px;
  margin-top: -20px;
  background-color: #FEBF00;
}

.elon-small {
  margin-top: 100px;
}

.elon-small::before {
  content: "ELON MUSK";
  font-weight: 700;
  border: 1px solid #0A0A0A;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  color: #0A0000;
  width: 60%;
  position: absolute;
  top: -56px;
  left: 5%;
  height: 80px;
  z-index: 3;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  background-color: #FEBF00;
  line-height: 32px;
}

.elon2::after {
  background-color: #FEBF00;
}

.social-icon2 i {
  font-size: 23px;
  color: white;
  border-radius: 50%;
  padding: 7px;
  background-color: #0A0A0A;
}

.social-icon2 {
  width: 35px;
  height: 35px;
  text-align: center;
}

.special {
  border: 1px solid #F6CD11;
  border-radius: 30px;
}
.special p {
  font-weight: 700;
  color: white;
}

#special::after {
  content: "SPECIAL THANKS TO";
  font-weight: 700;
  border: 1px solid #F6CD11;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  color: white;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  border-top: none;
  border-left: none;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
  line-height: 40px;
}

.deff-footer {
  background-color: #F6CD11;
  border-radius: 50px/25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: 1px solid #0A0A0A;
  box-shadow: 0px -15px #F6CD11;
}

.social-icon3 {
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: 4px;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
.social-icon3 i {
  font-size: 20px;
  color: white;
  border-radius: 50%;
  padding: 4px;
  background-color: #0A0A0A;
}

@media (max-width: 575.98px) {
  body {
    font-size: 12px;
  }

  #navbarSupportedContent .myLogo {
    position: absolute;
    left: 113px;
    top: -104px;
  }

  .search-body-inner h2 {
    font-size: 1rem;
  }

  #team-main::after {
    font-size: 0.75rem;
    padding: 5px 5px;
  }
}