$background:#0A0A0A;
$yellow-light:#F6CD11;
$yellow-meddile:#F7BE00;
$yellow-dark:#E1B701;
$yellow-verydark:#413306;

$text-light:#B7B7B7;
$text-dark:#0A0000;
$red-text:#A80D1B;

body{
	background-color: $background;
        font-size: 14px;


	}


	body::-webkit-scrollbar {
		width: 12px;               /* width of the entire scrollbar */
	      }
	      
	      body::-webkit-scrollbar-track {
		background: $background;        /* color of the tracking area */
	      }
	      
	      body::-webkit-scrollbar-thumb {
		background-color: $yellow-light;    /* color of the scroll thumb */
		border-radius: 2px;       /* roundness of the scroll thumb */
		// border: 3px solid orange;  /* creates padding around scroll thumb */
	      }


	.navbar{
		border-top: $yellow-dark  solid 50px ;
		border-bottom: $yellow-dark solid 5px;
	}

	.nav-link{
	color: $text-light !important;
	font-weight: 500;
	

		
	}
	#navbarSupportedContent .myLogo{
		position: absolute;
		left: -23px;
		top: -58px;
		img{

			width: 160px;
			height: 150px;
			z-index: 50;
			position: absolute;
			top: 5px;
		}
		p{
			font-size: 30px;
			font-weight: 500;
			position: absolute;
			top: 60px;
			right: -219px;
			letter-spacing: 5px;
			background-color: #0A0A0A;
			width: 160px;
			height: 70px;
			text-align: center;
			color: #B7B7B7;
		    
		}
	}
	.main{
		// height: 500px;
		padding: 15px;
		
	
		border: 20px solid transparent;
		border-image: url(../img/border.png) round;
		


	
	
		border-image-repeat: stretch;  
		border-image-slice: 30;
	h4{
		color: $yellow-light;
		
	}
	nav{
		list-style: none;
		border-right: 5px solid $yellow-light;
		li{
			padding-left: 1em; 
			// text-indent: -.7em;
			a{
				color: $text-light;
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 1px;
			}
		}
		li::before {
			content: "• ";
			color: $yellow-light; /* or whatever color you prefer */
		      }
	}
	}

	.form-control{
		background-color: $background;
		border: 1px solid $yellow-meddile;
	}

	.custom-file-input:lang(en)~.custom-file-label::after {
	
		font-family: "Font Awesome 5 Free";
		content: "\f0c6";
		display: inline-block;
		padding-right: 3px;
		vertical-align: middle;
		font-weight: 900;
		font-size: 30px;
	    }
	    .custom-file-label::after {
		position: absolute;
		top: 5px;
    right: 69px;
		bottom: 0;
		z-index: 3;
		display: block;
		height: calc(1.5em + .75rem);
		padding: .375rem .75rem;
		line-height: 1.5;
		color: #495057;
		content: "Browse";
		 background-color: inherit;
		border-left: none;
		border-radius: 0 .25rem .25rem 0;
	    }
	    

.custom-file-label { 
height: 70px;
line-height: 3.5;
font-weight: 700;
background-color: $yellow-dark;
border-color: $background;

}

.footer{
background-color: $yellow-dark;




}
.social{
	margin-top: -25px;
	// background-color: $yellow-verydark;
}
.social-icon{
	
	background-color: $yellow-verydark;
	
	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	
	
    
	i{
		font-size: 23px;
		position: absolute;
		top: 3px;
		left: 6px;
		color: white;
		border-radius: 50%;
		padding: 10px;
	
		
		background-color: $background;
	}
}

.footerP{
	// font-size: 1px;
	font-weight: 700;
	color: $text-dark;
}
footer::before{
	background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    top: -25px;
    right: 0px;
    }
    .navbar-toggler {
	    background-color: $yellow-light;
    }



  
    @media (max-width: 575.98px) {
	    
	#navbarSupportedContent .myLogo {
	position: absolute;
	left: 113px;
	top: -104px;
    } }